In [1]:
import requests
import pandas as pd
import numpy as np
from pprint import pprint
# import config
import re

In [2]:
# Import json and convert to DF
url = 'https://www.thecocktaildb.com/api/json/v2/9973533/search.php?s'

response = requests.get(url).json()

drinks_df = pd.json_normalize(response['drinks'], max_level=1)
drinks_df.head()

,idDrink,strDrink,strDrinkAlternate,strTags,strVideo,strCategory,strIBA,strAlcoholic,strGlass,strInstructions,...,strMeasure10,strMeasure11,strMeasure12,strMeasure13,strMeasure14,strMeasure15,strImageSource,strImageAttribution,strCreativeCommonsConfirmed,dateModified
0,15997,GG,None,None,None,Ordinary Drink,None,Optional alcohol,Collins Glass,Pour the Galliano liqueur over ice. Fill the r...,...,None,None,None,None,None,None,None,None,No,2016-07-18 22:06:00
1,17222,A1,None,None,None,Cocktail,None,Alcoholic,Cocktail glass,"Pour all ingredients into a cocktail shaker, m...",...,None,None,None,None,None,None,None,None,No,2017-09-07 21:42:09
2,13501,ABC,None,None,None,Shot,None,Alcoholic,Shot glass,Layered in a shot glass.,...,None,None,None,None,None,None,None,None,No,2016-08-31 19:32:08
3,17203,Kir,None,"IBA,ContemporaryClassic",None,Ordinary Drink,None,Alcoholic,Wine Glass,Add the crème de cassis to the bottom of the g...,...,None,None,None,None,None,None,None,None,No,2017-09-02 17:38:14
4,14229,747,None,None,None,Shot,None,Alcoholic,Shot glass,"pour kaluha, then Baileys, then Frangelico not...",...,None,None,None,None,None,None,None,None,No,2016-08-31 19:28:26

In [3]:
# drinks_df.columns

In [4]:
measure_df = drinks_df[['idDrink', 'strDrink',  'strIngredient1', 'strMeasure1', 'strIngredient2', 'strMeasure2',
                        'strIngredient3', 'strMeasure3', 'strIngredient4', 'strMeasure4','strIngredient5', 'strMeasure5',
                        'strIngredient6', 'strMeasure6', 'strIngredient7', 'strMeasure7','strIngredient8', 'strMeasure8',
                        'strIngredient9', 'strMeasure9', 'strIngredient10', 'strMeasure10', 'strIngredient11', 'strMeasure11',
                        'strIngredient12', 'strMeasure12', 'strIngredient13', 'strMeasure13','strIngredient14', 'strMeasure14',
                        'strIngredient15','strMeasure15']]

measure_df

,idDrink,strDrink,strIngredient1,strMeasure1,strIngredient2,strMeasure2,strIngredient3,strMeasure3,strIngredient4,strMeasure4,...,strIngredient11,strMeasure11,strIngredient12,strMeasure12,strIngredient13,strMeasure13,strIngredient14,strMeasure14,strIngredient15,strMeasure15
0,15997,GG,Galliano,2 1/2 shots,Ginger ale,None,Ice,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,17222,A1,Gin,1 3/4 shot,Grand Marnier,1 Shot,Lemon Juice,1/4 Shot,Grenadine,1/8 Shot,...,None,None,None,None,None,None,None,None,None,None
2,13501,ABC,Amaretto,1/3,Baileys irish cream,1/3,Cognac,1/3,None,None,...,None,None,None,None,None,None,None,None,None,None
3,17203,Kir,Creme de Cassis,1 part,Champagne,5 parts,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,14229,747,Kahlua,1/3 part,Baileys irish cream,1/3 part,Frangelico,1/3 part,None,None,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
613,16100,Amaretto Stone Sour Alternative,Sour mix,2 oz,Amaretto,2 oz,Tequila,2 oz,Orange juice,Add splash,...,None,None,None,None,None,None,None,None,None,None
614,12658,Banana Strawberry Shake Daiquiri,Strawberries,1/2 lb frozen,Banana,1 frozen,Apple juice,2 cups fresh,None,None,...,None,None,None,None,None,None,None,None,None,None
615,16984,Radioactive Long Island Iced Tea,Rum,1 oz,Vodka,1 oz,Tequila,1 oz,Gin,1 oz,...,None,None,None,None,None,None,None,None,None,None
616,14029,57 Chevy with a White License Plate,Creme de Cacao,1 oz white,Vodka,1 oz,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
617,17246,Empellón Cocina's Fat-Washed Mezcal,Mezcal,2 oz,Chocolate liqueur,3/4 oz,Coffee liqueur,1/2 oz,None,None,...,None,None,None,None,None,None,None,None,None,None

In [5]:
# # use the apply function to do the split 

# def split(row):
#     # CODE HERE
    
#     return row 

# test = measure_df.apply(split)
# test

In [6]:
# measurements = []
# units = []

# # check if numeric or alpha 
# for index, row in measure_df.iterrows():
#     string_list = row['strMeasure1']
#     if (string_list):
#             wordsRegex = "[a-zA-z]+"
#             numbersRegex = "(\d [\d\/\d]*)"
#             words = re.search(wordsRegex, string_list)
#             measure = re.search(numbersRegex, string_list)
#             if (words):
#                 units.append(words.group(0))
#             else:
#                 units.append("")
#             if (measure):
#                 measurements.append(measure.group(0))
#             else:
#                 measurements.append("")
#     else:
#         measurements.append("none")
#         units.append("none")
                
# measurements_df = pd.DataFrame(
#     {"Measurements": measurements, "Units": units}, 
# )
# measurements_df

In [7]:
# # split measurements column on the space, rename columns 
# split_measurements_df = pd.DataFrame(measurements_df['Measurements'].str.split(' ',1).tolist(),
#                                  columns = ['Measurement_a','Measurement_b'])

# # Potential fractions to be dealt with: ['1/2', '3/4', '2/3', '1/4']
# # replace with decimals
# split_measurements_df['Measurement_b'] = split_measurements_df['Measurement_b'].replace(['1/2','3/4','2/3','1/4'],
#                                                                                         [.5,.75,.66,.25])
# # convert string to number
# split_measurements_df['Measurement_a'] = pd.to_numeric(split_measurements_df['Measurement_a'], errors='coerce')
# split_measurements_df['Measurement_b'] = pd.to_numeric(split_measurements_df['Measurement_b'], errors='coerce')

# # make all NANs = 0
# split_measurements_df['Measurement_b'] = split_measurements_df['Measurement_b'].fillna(0)

# # create a new column with total
# split_measurements_df['Total'] = split_measurements_df['Measurement_a'] + split_measurements_df['Measurement_b']

# # add back the units column
# split_measurements_df['Units'] = units
# split_measurements_df

In [8]:
measurement_conversions = {'unit': ['shots', 'shot', '', 'part', 'oz', 'cl', 'dash', 'pint', 'parts',
       'Chilled', 'tsp', 'Juice', 'cup', 'bottle', 'dashes', 'ml',
       'tblsp', 'L', 'mikey', 'jiggers', 'fifth', 'fresh', 'cups',
       'pieces', 'can', 'scoops', 'handful', 'long', 'cL', 'bottles',
       'qt', 'dl', 'gr', 'quart', 'measures', 'glass', 'cubes', 'jigger',
       'black', 'full', 'kg', 'inch', 'lb', 'large'],
                             'multiplier': [1.5,1.5, 0,1.5,1,0.338,.25, 16, 1.5,
                                         0,0.167,1, 8, 12, 0.25, 0.034,
                                         0.5, 33.8, 0, 1.5, 25.5, 0, 8,
                                         0, 12, 2, 2, 0, 0.338, 12,
                                         32, 0, 0.035, 32, 0, 12, .5, 1.5,
                                         0, 0, 35.274, 0, 16, 0]}
measurement_conversions_df = pd.DataFrame.from_dict(measurement_conversions)
measurement_conversions_df

        unit  multiplier
0      shots       1.500
1       shot       1.500
2                  0.000
3       part       1.500
4         oz       1.000
5         cl       0.338
6       dash       0.250
7       pint      16.000
8      parts       1.500
9    Chilled       0.000
10       tsp       0.167
11     Juice       1.000
12       cup       8.000
13    bottle      12.000
14    dashes       0.250
15        ml       0.034
16     tblsp       0.500
17         L      33.800
18     mikey       0.000
19   jiggers       1.500
20     fifth      25.500
21     fresh       0.000
22      cups       8.000
23    pieces       0.000
24       can      12.000
25    scoops       2.000
26   handful       2.000
27      long       0.000
28        cL       0.338
29   bottles      12.000
30        qt      32.000
31        dl       0.000
32        gr       0.035
33     quart      32.000
34  measures       0.000
35     glass      12.000
36     cubes       0.500
37    jigger       1.500
38     black       0.000
39      full       0.000
40        kg      35.274
41      inch       0.000
42        lb      16.000
43     large       0.000

In [9]:
def units_to_oz(row):
    unit = row["Units"].strip()
    if len(unit) > 0:
        mult = measurement_conversions_df.loc[measurement_conversions_df["unit"] == unit.strip()]["multiplier"]
    else:
        return row
    #print(row["Total"])
    if row["Total"] and len(mult) > 1:
        row["Total"] = row["Total"] * mult[0]
    #print(row["Total"])
    return row

In [10]:
count = 0

def split(df_column):
    global count
    print("count:", count)
    count += 1
    print(type(df_column))
    measurements = []
    units = []
    
    for index, string_list in df_column.iteritems():
        #string_list = row['strMeasure1']
        if (string_list):
                wordsRegex = "[a-zA-z]+"
                numbersRegex = "(\d [\d\/\d]*)"
                words = re.search(wordsRegex, string_list)
                measure = re.search(numbersRegex, string_list)
                if (words):
                    units.append(words.group(0))
                else:
                    units.append("")
                if (measure):
                    measurements.append(measure.group(0))
                else:
                    measurements.append("")
        else:
            measurements.append("none")
            units.append("none")

    measurements_df = pd.DataFrame(
        {"Measurements": measurements, "Units": units}, 
    )
    print(measurements_df)
    
    # do interger manipulations and convert to oz
    
    # split measurements column on the space, rename columns 
    split_measurements_df = pd.DataFrame(measurements_df['Measurements'].str.split(' ',1).tolist(),
                                     columns = ['Measurement_a','Measurement_b'])

    # Potential fractions to be dealt with: ['1/2', '3/4', '2/3', '1/4']
    # replace with decimals
    split_measurements_df['Measurement_b'] = split_measurements_df['Measurement_b'].replace(['1/2','3/4','2/3','1/4'],
                                                                                            [.5,.75,.66,.25])
    # convert string to number
    split_measurements_df['Measurement_a'] = pd.to_numeric(split_measurements_df['Measurement_a'], errors='coerce')
    split_measurements_df['Measurement_b'] = pd.to_numeric(split_measurements_df['Measurement_b'], errors='coerce')

    # make all NANs = 0
    split_measurements_df['Measurement_b'] = split_measurements_df['Measurement_b'].fillna(0)

    # create a new column with total
    split_measurements_df['Total'] = split_measurements_df['Measurement_a'] + split_measurements_df['Measurement_b']

    # add back the units column
    split_measurements_df['Units'] = units
    #split_measurements_df
    
    # use units_to_oz with apply function
    split_measurements_df = split_measurements_df.apply(units_to_oz, axis=1)
    
    return split_measurements_df["Total"] # this returns a series

# use preprocessing with apply function
new_df = measure_df[['strMeasure1', 'strMeasure2',
       'strMeasure3', 'strMeasure4', 'strMeasure5', 'strMeasure6',
       'strMeasure7', 'strMeasure8', 'strMeasure9', 'strMeasure10',
       'strMeasure11', 'strMeasure12', 'strMeasure13', 'strMeasure14',
       'strMeasure15']].apply(split) # axis=1

count: 0
<class 'pandas.core.series.Series'>
    Measurements  Units
0          2 1/2  shots
1          1 3/4   shot
2             3
3             1    part
4             3    part
..           ...    ...
613           2      oz
614           2      lb
615           1      oz
616           1      oz
617           2      oz

[618 rows x 2 columns]
count: 1
<class 'pandas.core.series.Series'>
    Measurements  Units
0          2 1/2  shots
1          1 3/4   shot
2             3
3             1    part
4             3    part
..           ...    ...
613           2      oz
614           2      lb
615           1      oz
616           1      oz
617           2      oz

[618 rows x 2 columns]
count: 2
<class 'pandas.core.series.Series'>
    Measurements   Units
0           none    none
1             1     Shot
2             3
3             5    parts
4             3     part
..           ...     ...
613           2       oz
614           1   frozen
615           1       oz
616           1       oz
617           4       oz

[618 rows x 2 columns]
count: 3
<class 'pandas.core.series.Series'>
    Measurements Units
0           none  none
1             4   Shot
2             3
3           none  none
4             3   part
..           ...   ...
613           2     oz
614           2   cups
615           1     oz
616         none  none
617           2     oz

[618 rows x 2 columns]
count: 4
<class 'pandas.core.series.Series'>
    Measurements Units
0           none  none
1             8   Shot
2           none  none
3           none  none
4           none  none
..           ...   ...
613                Add
614         none  none
615           1     oz
616         none  none
617         none  none

[618 rows x 2 columns]
count: 5
<class 'pandas.core.series.Series'>
    Measurements Units
0           none  none
1           none  none
2           none  none
3           none  none
4           none  none
..           ...   ...
613         none  none
614         none  none
615           1     oz
616         none  none
617         none  none

[618 rows x 2 columns]
count: 6
<class 'pandas.core.series.Series'>
    Measurements Units
0           none  none
1           none  none
2           none  none
3           none  none
4           none  none
..           ...   ...
613         none  none
614         none  none
615           1     oz
616         none  none
617         none  none

[618 rows x 2 columns]
count: 7
<class 'pandas.core.series.Series'>
    Measurements Units
0           none  none
1           none  none
2           none  none
3           none  none
4           none  none
..           ...   ...
613         none  none
614         none  none
615           1     oz
616         none  none
617         none  none

[618 rows x 2 columns]
count: 8
<class 'pandas.core.series.Series'>
    Measurements Units
0           none  none
1           none  none
2           none  none
3           none  none
4           none  none
..           ...   ...
613         none  none
614         none  none
615           1     oz
616         none  none
617         none  none

[618 rows x 2 columns]
count: 9
<class 'pandas.core.series.Series'>
    Measurements Units
0           none  none
1           none  none
2           none  none
3           none  none
4           none  none
..           ...   ...
613         none  none
614         none  none
615         none  none
616         none  none
617         none  none

[618 rows x 2 columns]
count: 10
<class 'pandas.core.series.Series'>
    Measurements Units
0           none  none
1           none  none
2           none  none
3           none  none
4           none  none
..           ...   ...
613         none  none
614         none  none
615         none  none
616         none  none
617         none  none

[618 rows x 2 columns]
count: 11
<class 'pandas.core.series.Series'>
    Measurements Units
0           none  none
1           none  none
2           none  none
3           none  none
4           none  none
..           ...   ...
613         none  none
614         none  none
615         none  none
616         none  none
617         none  none

[618 rows x 2 columns]
count: 12
<class 'pandas.core.series.Series'>
    Measurements Units
0           none  none
1           none  none
2           none  none
3           none  none
4           none  none
..           ...   ...
613         none  none
614         none  none
615         none  none
616         none  none
617         none  none

[618 rows x 2 columns]
count: 13
<class 'pandas.core.series.Series'>
    Measurements Units
0           none  none
1           none  none
2           none  none
3           none  none
4           none  none
..           ...   ...
613         none  none
614         none  none
615         none  none
616         none  none
617         none  none

[618 rows x 2 columns]

ValueError: 2 columns passed, passed data had 1 columns

In [ ]:
new_df

In [ ]:
measurements_df["Units"].unique()

In [ ]:
mult = measurement_conversions_df.loc[measurement_conversions_df["unit"] == "shots "]["multiplier"]
mult