In [1]:
import requests
import pandas as pd
import numpy as np
from pprint import pprint
# import config

In [2]:
# Import json and convert to DF
url = 'https://www.thecocktaildb.com/api/json/v2/9973533/search.php?s'

response = requests.get(url).json()

In [3]:
drinks_df = pd.json_normalize(response['drinks'], max_level=1)
drinks_df.head()

,idDrink,strDrink,strDrinkAlternate,strTags,strVideo,strCategory,strIBA,strAlcoholic,strGlass,strInstructions,...,strMeasure10,strMeasure11,strMeasure12,strMeasure13,strMeasure14,strMeasure15,strImageSource,strImageAttribution,strCreativeCommonsConfirmed,dateModified
0,15997,GG,None,None,None,Ordinary Drink,None,Optional alcohol,Collins Glass,Pour the Galliano liqueur over ice. Fill the r...,...,None,None,None,None,None,None,None,None,No,2016-07-18 22:06:00
1,17222,A1,None,None,None,Cocktail,None,Alcoholic,Cocktail glass,"Pour all ingredients into a cocktail shaker, m...",...,None,None,None,None,None,None,None,None,No,2017-09-07 21:42:09
2,13501,ABC,None,None,None,Shot,None,Alcoholic,Shot glass,Layered in a shot glass.,...,None,None,None,None,None,None,None,None,No,2016-08-31 19:32:08
3,17203,Kir,None,"IBA,ContemporaryClassic",None,Ordinary Drink,None,Alcoholic,Wine Glass,Add the crème de cassis to the bottom of the g...,...,None,None,None,None,None,None,None,None,No,2017-09-02 17:38:14
4,14229,747,None,None,None,Shot,None,Alcoholic,Shot glass,"pour kaluha, then Baileys, then Frangelico not...",...,None,None,None,None,None,None,None,None,No,2016-08-31 19:28:26

In [4]:
drinks_df.columns

Index(['idDrink', 'strDrink', 'strDrinkAlternate', 'strTags', 'strVideo',
       'strCategory', 'strIBA', 'strAlcoholic', 'strGlass', 'strInstructions',
       'strInstructionsES', 'strInstructionsDE', 'strInstructionsFR',
       'strInstructionsIT', 'strInstructionsZH-HANS', 'strInstructionsZH-HANT',
       'strDrinkThumb', 'strIngredient1', 'strIngredient2', 'strIngredient3',
       'strIngredient4', 'strIngredient5', 'strIngredient6', 'strIngredient7',
       'strIngredient8', 'strIngredient9', 'strIngredient10',
       'strIngredient11', 'strIngredient12', 'strIngredient13',
       'strIngredient14', 'strIngredient15', 'strMeasure1', 'strMeasure2',
       'strMeasure3', 'strMeasure4', 'strMeasure5', 'strMeasure6',
       'strMeasure7', 'strMeasure8', 'strMeasure9', 'strMeasure10',
       'strMeasure11', 'strMeasure12', 'strMeasure13', 'strMeasure14',
       'strMeasure15', 'strImageSource', 'strImageAttribution',
       'strCreativeCommonsConfirmed', 'dateModified'],
      dtype='object')

In [5]:
# columns to new df for instructions, ingredients, measures

measure_df = drinks_df[['idDrink', 'strDrink',  'strIngredient1', 'strIngredient2', 'strIngredient3',
       'strIngredient4', 'strIngredient5', 'strIngredient6', 'strIngredient7',
       'strIngredient8', 'strMeasure1', 'strMeasure2',
       'strMeasure3', 'strMeasure4', 'strMeasure5', 'strMeasure6',
       'strMeasure7', 'strMeasure8']]

measure_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 618 entries, 0 to 617
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   idDrink         618 non-null    object
 1   strDrink        618 non-null    object
 2   strIngredient1  618 non-null    object
 3   strIngredient2  618 non-null    object
 4   strIngredient3  528 non-null    object
 5   strIngredient4  353 non-null    object
 6   strIngredient5  217 non-null    object
 7   strIngredient6  120 non-null    object
 8   strIngredient7  65 non-null     object
 9   strIngredient8  15 non-null     object
 10  strMeasure1     607 non-null    object
 11  strMeasure2     596 non-null    object
 12  strMeasure3     494 non-null    object
 13  strMeasure4     315 non-null    object
 14  strMeasure5     188 non-null    object
 15  strMeasure6     102 non-null    object
 16  strMeasure7     61 non-null     object
 17  strMeasure8     14 non-null     object
dtypes: object(18)
memory usage: 87.0+ KB

In [6]:
# splitting up the strings in the measures columns 
measure_df['strMeasure1']

0        2 1/2 shots
1         1 3/4 shot
2                1/3
3             1 part
4           1/3 part
            ...
613             2 oz
614    1/2 lb frozen
615             1 oz
616       1 oz white
617              2 oz
Name: strMeasure1, Length: 618, dtype: object

In [15]:
measurements_df = measure_df['strMeasure1'].str.split(' ', 2, expand=True)
# measurements_df.to_excel("measurements.xlsx")
measurements_df.head(20)

       0      1         2
0      2    1/2    shots
1      1    3/4     shot
2    1/3             None
3      1   part
4    1/3   part
5    1/2   shot  Bacardi
6      2  shots
7      2     oz
8    1/3   shot
9      1     oz
10     1     oz  Bacardi
11   1/3             None
12     4     cl
13   1/3   part
14   1/2     oz
15     1    1/2       oz
16     6     cl      None
17     1   part
18  None   None      None
19     2    1/2       oz

In [12]:
measurements = []
units = []
# check if numeric or alpha 
for index, row in measure_df.head().iterrows():
    
    string_list = row['strMeasure1'].split(' ', 1)
    
    for x in string_list:
        
        if x.isnumeric() == True:
    
            measurements.append(x)
    
        else:
            
            units.append(x)
    
    measurements_df = pd.DataFrame(
        {"Measurements": measurements}
#         {"Units": units}
    )
    
#     units_df = pd.DataFrame({"Units": units})
        
measurements_df

  Measurements
0            2
1            1
2            1

In [9]:
# use the apply function to do the split 

def split(row):
    
    # in this column, split by " " and take the last item of list
    
    row['strMeasure1'] = row['strMeasure1'].str.split(" ")[-1]
    
    return row 

test = measure_df.apply(split)
test

KeyError: 'strMeasure1'

In [ ]:
pprint(response['drinks'])