In [1]:
import requests
import pandas as pd
import numpy as np
from pprint import pprint
# import config
import re

In [2]:
# Import json and convert to DF
url = 'https://www.thecocktaildb.com/api/json/v2/9973533/search.php?s'

response = requests.get(url).json()

In [3]:
drinks_df = pd.json_normalize(response['drinks'], max_level=1)
drinks_df.head()

,idDrink,strDrink,strDrinkAlternate,strTags,strVideo,strCategory,strIBA,strAlcoholic,strGlass,strInstructions,...,strMeasure10,strMeasure11,strMeasure12,strMeasure13,strMeasure14,strMeasure15,strImageSource,strImageAttribution,strCreativeCommonsConfirmed,dateModified
0,15997,GG,None,None,None,Ordinary Drink,None,Optional alcohol,Collins Glass,Pour the Galliano liqueur over ice. Fill the r...,...,None,None,None,None,None,None,None,None,No,2016-07-18 22:06:00
1,17222,A1,None,None,None,Cocktail,None,Alcoholic,Cocktail glass,"Pour all ingredients into a cocktail shaker, m...",...,None,None,None,None,None,None,None,None,No,2017-09-07 21:42:09
2,13501,ABC,None,None,None,Shot,None,Alcoholic,Shot glass,Layered in a shot glass.,...,None,None,None,None,None,None,None,None,No,2016-08-31 19:32:08
3,17203,Kir,None,"IBA,ContemporaryClassic",None,Ordinary Drink,None,Alcoholic,Wine Glass,Add the crème de cassis to the bottom of the g...,...,None,None,None,None,None,None,None,None,No,2017-09-02 17:38:14
4,14229,747,None,None,None,Shot,None,Alcoholic,Shot glass,"pour kaluha, then Baileys, then Frangelico not...",...,None,None,None,None,None,None,None,None,No,2016-08-31 19:28:26

In [4]:
drinks_df.columns

Index(['idDrink', 'strDrink', 'strDrinkAlternate', 'strTags', 'strVideo',
       'strCategory', 'strIBA', 'strAlcoholic', 'strGlass', 'strInstructions',
       'strInstructionsES', 'strInstructionsDE', 'strInstructionsFR',
       'strInstructionsIT', 'strInstructionsZH-HANS', 'strInstructionsZH-HANT',
       'strDrinkThumb', 'strIngredient1', 'strIngredient2', 'strIngredient3',
       'strIngredient4', 'strIngredient5', 'strIngredient6', 'strIngredient7',
       'strIngredient8', 'strIngredient9', 'strIngredient10',
       'strIngredient11', 'strIngredient12', 'strIngredient13',
       'strIngredient14', 'strIngredient15', 'strMeasure1', 'strMeasure2',
       'strMeasure3', 'strMeasure4', 'strMeasure5', 'strMeasure6',
       'strMeasure7', 'strMeasure8', 'strMeasure9', 'strMeasure10',
       'strMeasure11', 'strMeasure12', 'strMeasure13', 'strMeasure14',
       'strMeasure15', 'strImageSource', 'strImageAttribution',
       'strCreativeCommonsConfirmed', 'dateModified'],
      dtype='object')

In [14]:
# columns to new df for ingredients and measures

measure_df = drinks_df[['idDrink', 'strDrink',  'strIngredient1', 'strIngredient2', 'strIngredient3',
       'strIngredient4', 'strIngredient5', 'strIngredient6', 'strIngredient7',
       'strIngredient8', 'strMeasure1', 'strMeasure2',
       'strMeasure3', 'strMeasure4', 'strMeasure5', 'strMeasure6',
       'strMeasure7', 'strMeasure8']]

measure_df

,idDrink,strDrink,strIngredient1,strIngredient2,strIngredient3,strIngredient4,strIngredient5,strIngredient6,strIngredient7,strIngredient8,strMeasure1,strMeasure2,strMeasure3,strMeasure4,strMeasure5,strMeasure6,strMeasure7,strMeasure8
0,15997,GG,Galliano,Ginger ale,Ice,None,None,None,None,None,2 1/2 shots,None,None,None,None,None,None,None
1,17222,A1,Gin,Grand Marnier,Lemon Juice,Grenadine,None,None,None,None,1 3/4 shot,1 Shot,1/4 Shot,1/8 Shot,None,None,None,None
2,13501,ABC,Amaretto,Baileys irish cream,Cognac,None,None,None,None,None,1/3,1/3,1/3,None,None,None,None,None
3,17203,Kir,Creme de Cassis,Champagne,None,None,None,None,None,None,1 part,5 parts,None,None,None,None,None,None
4,14229,747,Kahlua,Baileys irish cream,Frangelico,None,None,None,None,None,1/3 part,1/3 part,1/3 part,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
613,16100,Amaretto Stone Sour Alternative,Sour mix,Amaretto,Tequila,Orange juice,None,None,None,None,2 oz,2 oz,2 oz,Add splash,None,None,None,None
614,12658,Banana Strawberry Shake Daiquiri,Strawberries,Banana,Apple juice,None,None,None,None,None,1/2 lb frozen,1 frozen,2 cups fresh,None,None,None,None,None
615,16984,Radioactive Long Island Iced Tea,Rum,Vodka,Tequila,Gin,Triple sec,Chambord raspberry liqueur,Midori melon liqueur,Malibu rum,1 oz,1 oz,1 oz,1 oz,1 oz,1 oz,1 oz,1 oz
616,14029,57 Chevy with a White License Plate,Creme de Cacao,Vodka,None,None,None,None,None,None,1 oz white,1 oz,None,None,None,None,None,None
617,17246,Empellón Cocina's Fat-Washed Mezcal,Mezcal,Chocolate liqueur,Coffee liqueur,None,None,None,None,None,2 oz,3/4 oz,1/2 oz,None,None,None,None,None

In [6]:
# splitting up the strings in the measures columns 
measure_df['strMeasure1']

0        2 1/2 shots
1         1 3/4 shot
2                1/3
3             1 part
4           1/3 part
            ...
613             2 oz
614    1/2 lb frozen
615             1 oz
616       1 oz white
617              2 oz
Name: strMeasure1, Length: 618, dtype: object

In [7]:
measurements_df = measure_df['strMeasure1'].str.split(' ', 2, expand=True)
# measurements_df.to_excel("measurements.xlsx")
measurements_df.head(20)

       0      1         2
0      2    1/2    shots
1      1    3/4     shot
2    1/3             None
3      1   part
4    1/3   part
5    1/2   shot  Bacardi
6      2  shots
7      2     oz
8    1/3   shot
9      1     oz
10     1     oz  Bacardi
11   1/3             None
12     4     cl
13   1/3   part
14   1/2     oz
15     1    1/2       oz
16     6     cl      None
17     1   part
18  None   None      None
19     2    1/2       oz

In [8]:
measurements = []
units = []
# check if numeric or alpha 
for index, row in measure_df.iterrows():
    string_list = row['strMeasure1']
    if (string_list):
            wordsRegex = "[a-zA-z]+"
            numbersRegex = "(\d [\d\/\d]*)"
            words = re.search(wordsRegex, string_list)
            measure = re.search(numbersRegex, string_list)
            if (words):
                units.append(words.group(0))
            else:
                units.append("")
            if (measure):
                measurements.append(measure.group(0))
            else:
                measurements.append("")
# print(len(measurements))
# print(len(units))
measurements_df = pd.DataFrame(
    {"Measurements": measurements, "Units": units}, 
)
measurements_df.head(20)

   Measurements  Units
0         2 1/2  shots
1         1 3/4   shot
2            3
3            1    part
4            3    part
5            2    shot
6            2   shots
7            2      oz
8            3    shot
9            1      oz
10           1      oz
11           3
12           4      cl
13           3    part
14           2      oz
15        1 1/2     oz
16           6      cl
17           1    part
18        2 1/2     oz
19           2      cl

In [12]:
split_measurements_df = pd.DataFrame(measurements_df['Measurements'].str.split(' ',1).tolist(),
                                 columns = ['Measurement_a','Measurement_b'])
split_measurements_df

    Measurement_a Measurement_b
0               2           1/2
1               1           3/4
2               3
3               1
4               3
..            ...           ...
602             2
603             2
604             1
605             1
606             2

[607 rows x 2 columns]

In [13]:
# ['1/2', '3/4', '', None, '2/3', '1/4']
split_measurements_df['Measurement_b'] = split_measurements_df['Measurement_b'].replace(['1/2','3/4','2/3','1/4'],[.5,.75,.66,.25])
split_measurements_df['Measurement_a'] = pd.to_numeric(split_measurements_df['Measurement_a'], errors='coerce')
split_measurements_df['Measurement_b'] = pd.to_numeric(split_measurements_df['Measurement_b'], errors='coerce')
split_measurements_df['Measurement_b'] = split_measurements_df['Measurement_b'].fillna(0)
split_measurements_df['Total'] = split_measurements_df['Measurement_a'] + split_measurements_df['Measurement_b']
split_measurements_df['Units'] = units
split_measurements_df

     Measurement_a  Measurement_b  Total  Units
0              2.0           0.50   2.50  shots
1              1.0           0.75   1.75   shot
2              3.0           0.00   3.00
3              1.0           0.00   1.00   part
4              3.0           0.00   3.00   part
..             ...            ...    ...    ...
602            2.0           0.00   2.00     oz
603            2.0           0.00   2.00     lb
604            1.0           0.00   1.00     oz
605            1.0           0.00   1.00     oz
606            2.0           0.00   2.00     oz

[607 rows x 4 columns]

In [ ]:
# measurements_df["Units"].unique()

In [ ]:
measurement_conversions = {'unit': ['shots', 'shot', '', 'part', 'oz', 'cl', 'dash', 'pint', 'parts',
       'Chilled', 'tsp', 'Juice', 'cup', 'bottle', 'dashes', 'ml',
       'tblsp', 'L', 'mikey', 'jiggers', 'fifth', 'fresh', 'cups',
       'pieces', 'can', 'scoops', 'handful', 'long', 'cL', 'bottles',
       'qt', 'dl', 'gr', 'quart', 'measures', 'glass', 'cubes', 'jigger',
       'black', 'full', 'kg', 'inch', 'lb', 'large'],
                             'multiplier': [1.5,1.5, 0,1.5,1,0.338,.25, 16, 1.5,
                                         0,0.167,1, 8, 12, 0.25, 0.034,
                                         0.5, 33.8, 0, 1.5, 25.5, 0, 8,
                                         0, 12, 2, 2, 0, 0.338, 12,
                                         32, 0, 0.035, 32, 0, 12, .5, 1.5,
                                         0, 0, 35.274, 0, 16, 0]}
measurement_converstion_df = pd.DataFrame.from_dict(measurement_conversions)
measurement_converstion_df

In [ ]:
# # use the apply function to do the split 

# def split(row):
    
#     # in this column, split by " " and take the last item of list
    
#     row['strMeasure1'] = row['strMeasure1'].str.split(" ")[-1]
    
#     return row 

# test = measure_df.apply(split)
# test

In [ ]:
# pprint(response['drinks'])